#root {
  width: 100%;
  display: flex;
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  height: 100%;
  width: 100%;
  color: #020817;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.greeting-text {
  font-size: 18px;
  font-weight: 700;
  color: #020817;
  line-height: 28px;
}

.greeting-sub-text {
  color: #64748B;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.header-panel {
  background: #ffffff;
  border-bottom: 1px solid #E2E8F0;
}

.body-panel {
  background: #F0F7FF;
}
.products-title{
  color: #020817;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}